:root{
    --cinza-principal: #D7DDDF;
    --cinza-secundario: #A6B0C8;
    --botao-azul: #E4F3F8;
}
body{
    background-color: var(--cinza-principal);
    color: var(--cinza-secundario)
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url("img/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul); --cinza-secundario:var(--cinza-secundario);
    border-radius: 5px;
    padding: 1em;
    color: --cinza-secundario;
    display: block;
}
.botao_secundario{
    background-color: var(--botao-azul); --cinza-secundario:var(--cinza-secundario);
    border: 2px slid --cinza-principal;
}